@* @{
  Layout = "_Layout";
} *@

@model EpicodusChan.Models.Message

<h4>Add a New Message</h4>
@using (Html.BeginForm("Create", "Messages"))
{
   <input type="hidden" name="groupId" value="@ViewBag.GroupId">
    <div class="form-group">
        <p>Title</p>
        @Html.TextBoxFor(model => model.UserName, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Title</p>
        @Html.TextBoxFor(model => model.Title, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Entry</p>
        @Html.TextBoxFor(model => model.Entry, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Date</p>
        @Html.TextBoxFor(model => model.Date, new {@class="form-control"})
      </div>
      <button type="submit" class="btn btn-info btn-block"> Add Entry </button>
}
  @* <!-- YAS QUEEN -->
  <!-- hide it here --> *@
    @* @Html.LabelFor(model => model.MessageId)
    @Html.TextBoxFor(model => model.MessageId) *@
    @* @Html.Label("Select Group")
    @Html.DropDownList("GroupId")
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)
    @Html.LabelFor(model => model.UserName)
    @Html.TextBoxFor(model => model.UserName)
    @Html.LabelFor(model => model.Entry)
    @Html.TextBoxFor(model => model.Entry)
    @Html.LabelFor(model => model.Date)
    @Html.TextBoxFor(model => model.Date)
    <input type="submit" value="Add new message" />
}
<p>@Html.ActionLink("Show all messages", "Index", "Messages")</p> *@