
<h1>DETAILS: </h1>
<div> @Model.Title </div>
<div> @Model.UserName </div>
<div> @Model.Date </div>
<div> @Model.Entry </div>

@Html.ActionLink("Edit", "Edit", "Messages", new {groupId = Model.GroupId, messageId = Model.MessageId }, new {@class="btn btn-dark btn-lg"})
@Html.ActionLink("Delete", "Delete", "Messages", new {groupId = Model.GroupId, messageId = Model.MessageId }, new {@class="btn btn-danger btn-lg"})