@{
    ViewData["Title"] = "Home Page";
}
<h1>New Message:</h1>

<form action="/Messages/Details/@(Model.MessageId)" method="post">
  <label for="MessageId">Message ID:</label>
  <input id="MessageId" name="MessageId" type="text" value="@(Model.MessageId)">

  <label for="GroupId">Group ID:</label>
  <input id="GroupId" name="GroupId" type="text" value="@(Model.GroupId)">

  <label for="Title">Message Title:</label>
  <input id="Title" name="Title" type="number" value="@(Model.Title)">

  <label for="User">User:</label>
  <input id="User" name="User" type="text" value="@(Model.User)">

  <label for="Entry">Message Body:</label>
  <input id="Entry" name="Entry" type="text" value="@(Model.Entry)">

  <label for="Date">Date:</label>
  <input id="Date" name="Date" type="text" value="@(Model.Date)">

  <button type="submit">Go!</button>
</form>
<h1>Messages: </h1>
<ol>
  @foreach (Message message in Model)
  {
    <ul>
      <li>ID: @message.MessageId</li>
      <li>GroupID: @message.GroupId</li>
      <li>Title: @message.Title</li>
      <li>User: @message.UserName</li>
      <li>Entry: @message.Entry</li>
      <li>Date: @message.Date</li>
    </ul>
    <a href="/Messages/Details/@(message.MessageId)"><p>ViewDetails</p></a>
    <br>
  }
</ol>