<h1>Messages: </h1>
<ol>
  @foreach (Message message in Model)
  {
    <ul>
      <li>ID: @message.MessageId</li>
      <li>GroupID: @message.GroupId</li>
      <li>Title: @message.Title</li>
      <li>User: @message.UserName</li>
      <li>Entry: @message.Entry</li>
      <li>Date: @message.Date</li>
    </ul>
    <a href="/Messages/Details/@(message.MessageId)"><p>ViewDetails</p></a>
    <br>
  }
</ol>